.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container {
    position: relative;
    height: 560px;
    width: 390px;
    background: var(--background);
    opacity: var(--opacity);
    border: 1px solid var(--primary);
    border-radius: 40px;
}

.form-title {
    color: var(--font-color);
    width: 300px;
}

.form-title h2 {
    text-align: center;
}

/*Input focus move up label*/
.form__input:focus+.form__label {
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    position: absolute;
    background: var(--background);
    color: white;
    z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -0.5rem;
    left: 0.8rem;
    z-index: 10;
    font-weight: 500;
}

/*Input focus*/
.form__input:focus {
    border: 2px solid white;
}

.form__div {
    position: relative;
    height: 52px;
    width: 300px;
}

.form__input {
    position: relative;
    width: 100%;
    border: 2px solid var(--font-color);
    border-radius: 0.5rem;
    color: var(--font-color);
    outline: none;
    height: 42px;
    background: none;
    z-index: 10;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    background: var(--background);
    color: var(--font-color);
    transition: 0.3s;
}

.cta {
    width: 200px;
    height: 42px;
    background: var(--cta);
    opacity: 1;
    color: var(--primary);
    border: 1px solid var(--cta);
    border-radius: 40px;
}