.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 40px;
}

.carousel-images {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

/* Individual slide containing multiple images */
.carousel-slides {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 300px;
    border-radius: 40px;
    gap: 10px;
}

.img-carousel-slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-carousel-slide img {
    width: 100%;
    height: auto;
    /* Mantiene la proporción de la imagen */
    display: block;
    /* Elimina el espacio blanco debajo de la imagen */
}

.carousel-slides a {
    width: 100%;
}

.carousel-slides img {
    width: 100%;
    /* Adjust based on the number of images to be displayed at a time */
    flex: 1 0 auto;
    /* Ensure images do not stretch and maintain aspect ratio */
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.hover {
    display: none;
    top: 0;
    position: absolute;
    background-color: var(--cta);
    opacity: 0.4;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.carousel-slides .img-carousel-slide:hover {
    .hover {
        display: block;
        cursor: pointer;
        z-index: 1;
    }
}

.image-tag {
    position: absolute;
    bottom: 10px;
    /* Ajusta según sea necesario */
    right: 10px;
    /* Ajusta según sea necesario */
    background-color: var(--background);
    opacity: var(--opacity);
    /* Fondo semi-transparente para mejor legibilidad */
    color: white;
    /* Color del texto */
    padding: 10px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Esquinas redondeadas */
}